h1 {
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

.title-container {
    padding: 10px;
    width: 100%;
    height: 100px;
    background: rgb(131, 58, 180);
    background-image: linear-gradient(to right, #27422a, #3b6835, #58903b, #7eb83b, #ace132);
    margin-bottom: 35px;
}

.title-container p {
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}

h5 {
    text-align: center;
}